<div class="overflow-x-auto mt-7">
  <table class="table-auto w-full border border-collapse">
    <thead>
      <tr>
        <th class="border px-4 py-2">Avatar</th>
        <th class="border px-4 py-2">Nama</th>
        <th class="border px-4 py-2">Negara</th>
        <th class="border px-4 py-2">Kota</th>
        <th class="border px-4 py-2">Saldo</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of customer" class="text-center">
        <td class="border px-4 py-2">
          <img src="{{item.avatar}}" class="w-16 h-16 object-cover rounded-full" alt="{{item.name}}">
        </td>
        <td class="border px-4 py-2">{{item.name}}</td>
        <td class="border px-4 py-2">{{item.country}}</td>
        <td class="border px-4 py-2">{{item.city}}</td>
        <td class="border px-4 py-2">{{item.balance}}</td>
      </tr>
    </tbody>
  </table>
</div>
<router-outlet></router-outlet>